@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #172b4d;
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.flex-container {
  height: 48px;
  display: flex;
  padding: 14px 24px;
  background-color: #fff;
  justify-content: space-between;
}

.flex-container .logo a {
  color: #6070ff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.intro {
  display: flex;
  min-height: 718px;
  flex-direction: column;
  background-color: #fff;
  background-image: url('../images/header-shapesmobile@2x.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom-left-radius: 50px;
}

.purple-text {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  margin: 12px 0;
}

.intro > div {
  margin: 102px auto;
  width: calc(100% - 48px);
}

p {
  margin: 12px 0;
}

.title {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.social-icons ul {
  display: flex;
  list-style-type: none;
}

.social-icons ul li {
  margin: 0 20px 0 0;
}

.grid-item ul {
  float:left;
  content: "";
  display: table;
  clear: both;
  list-style-type: none;
}

.grid-item .project-role li {
  color: #7a869a;
  margin-left: 35px;
  font-weight: 600;
}

.grid-container {
  display: grid;
  margin: 26px 24px 0;
  grid-template-columns: auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 88px 0 0;
}

.grid-item.card {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
}

.grid-item .project-role::before {
  content: "CANOPY";
  font-weight: bold;
}

.grid-item .project-role li::before {
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 8px;
  background-color: #c1c7d0;
}

.grid-item .card-image img {
  width: 100%;
}

.grid-item .card-description h2 {
  margin: 12px 0;
  font-size: 32px;
}

.grid-item .tags li {
  float: left;
  margin-top: 16px;
}

.grid-item .tags a {
  color: #396df2;
  font-weight: 500;
  padding: 4px 12px 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  text-decoration: none;
  margin: 8px 20px 40px 0;
}

.grid-item .card-description p {
  margin: 20px 0;
}

.btn {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  color: #7f8cff;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 16px;
  margin: 40px 0 20px;
  background-color: #fff;
  border: 1px solid #7f8cff;
}

.btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn:focus {
  color: #fff;
  background-color: #2230d2;
}

.btn.disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.about-me {
  margin: 114px 0 0 0;
  background-color: #fff;
  padding-bottom: 114px;
  border-top-right-radius: 120px;
}

.about-me ul {
  list-style-type: none;
}

.about-me .menu {
  margin: 0 36px;
  width: calc(100% - 72px);
}

.about-me .menu li a {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.about-me .menu li ul {
  display: flex;
  margin: 36px 0;
  flex-direction: column;
}

.about-me .menu li ul li a {
  color: #253858;
  display: flex;
  padding: 10px 20px;
  margin-bottom: 12px;
  border-radius: 8px;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f9;
}

.about-me .menu .closed {
  margin: 24px 0;
  font-weight: 500;
  padding-bottom: 23px;
  border-bottom: 1px solid #dfe1e6;
  background: url("../images/chevron-right.svg") no-repeat calc(100% - 64px) center;
}

.about-me .menu .open {
  background: url("../images/carret.svg") no-repeat calc(100% - 64px) 0;
}

.about-me .menu li ul li a img {
  margin-right: 16px;
}
